{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-1pass.sh"

scriptTempDir = "~/tmp"