#!/bin/bash

# Exit immediately if 1Password is already installed and in $PATH
type op >/dev/null 2>&1 && exit 0

# Install 1Password CLI
echo "Installing 1Password CLI..."

sudo curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] \
https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" | sudo tee /etc/apt/sources.list.d/1password.list > /dev/null

sudo apt-get update
sudo apt-get install -y 1password-cli

# Log in to 1Password CLI (only run this the first time)
read -p "Enter your 1Password secret key: " OP_ACCOUNT_SECRET
read -sp "Enter your 1Password password: " OP_ACCOUNT_PASSWORD
echo ""

eval $(op account add --address "my.1password.com" --email "kevin.cao.me@gmail.com" --secret-key "$OP_ACCOUNT_SECRET" --signin)

if [ $? -ne 0 ]; then
    echo "1Password CLI login failed! Please check your credentials."
    exit 1
fi

echo "1Password CLI logged in successfully."